APPLICATION_ID=
PUBLIC_KEY=
CLIENT_ID=
TOKEN=""
TOPGG_TOKEN=""

DEV_APPLICATION_ID=
DEV_PUBLIC_KEY=
DEV_CLIENT_ID=
DEV_TOKEN=""

BOT_ID=
OWNER_ID=
TESTER=

WEBHOOK_FEEDBACK=""
WEBHOOK_REPORT=""
WEBHOOK_RULES=""
WEBHOOK_UPDATE=""

ROLEID_UPDATE=